@model IEnumerable<FirstWebApp.Models.Employee>

<a asp-action="Create" class="btn btn-primary">Create</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"> @Html.DisplayNameFor(e=>e.Id) </th>
            <th scope="col"> @Html.DisplayNameFor(e=>e.FirstName)</th>
            <th scope="col"> @Html.DisplayNameFor(e=>e.LastName)</th>
            <th scope="col"> @Html.DisplayNameFor(e=>e.Job)</th>
            <th scope="col"> @Html.DisplayNameFor(e=>e.Salary)</th>
            <th scope="col"> @Html.DisplayNameFor(e=>e.HireDate)</th>
            <th scope="col" class="text-center"> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((value, i) => new { i, value }))
        {
            <tr>
                <th scope="row"> @Html.DisplayFor(e=>item.i) </th>
                <td> @Html.DisplayFor(e=>item.value.FirstName) </td>
                <td> @Html.DisplayFor(e=>item.value.LastName) </td>
                <td> @Html.DisplayFor(e=>item.value.Job) </td>
                <td> @Html.DisplayFor(e=>item.value.Salary) </td>
                <td> @Html.DisplayFor(e=>item.value.HireDate) </td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@item.value.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.value.Id" class="btn btn-info">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.value.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>

        }


    </tbody>
</table>